<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subiect }}</title>
</head>
<body>
    <h1>Promotie pentru Ghete de Fotbal!</h1>
    <p>Vezi oferta noastra speciala!</p>
    <p>Beneficiaza de un discount de {{ discount }}% la ghetele de fotbal!</p>
    <p>Oferta este valabila pana pe {{ data_expirare }}. Grabeste-te sa iti alegi perechea preferata!</p>
    <footer>
        <p>Acesta este un mesaj automat generat. Te rugam sa nu raspunzi la acest e-mail.</p>
    </footer>
</body>
</html>
