
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
  color: #333;
}

h1 {
  text-align: center;
  color: #007bff;
}

form {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

li img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
  border-radius: 8px;
  
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
}

.pagination span {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e9ecef;
}

.btn-reset {
  padding: 10px 20px;

  border: none; /* Elimină bordura */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; /* Schimbă cursorul la clic */
  text-align: center; /* Centrează textul */
  margin-left: 10px; /* Spațiu între butoane */
}

.btn-reset:hover {
  background-color: white; /* Culoare mai închisă la hover */
}

#lista-produse li {
  cursor: pointer;
}
